.ChaiTypes_Individual_Card_Container {
    overflow: hidden; // important to avoid content overflowing when animating
  
    .card_internal_box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 0.5s ease;
      transform: translateY(0);
  
      .shopNowButton {
        opacity: 0;
        margin-top: 28px;
        transform: translateY(20px);
        transition: all 0.5s ease;
        pointer-events: none; // optional: prevent button from being clicked when hidden
      }
    }
  
    &:hover {
      .card_internal_box {
        transform: translateY(-20px); // move whole content up slightly
  
        .shopNowButton {
           
          opacity: 1;
          transform: translateY(0);
          pointer-events: auto;
        }
      }
    }
  }
  